<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877024835522-vu0r8h77v1uajo5qqgor7vhn0ut7dndu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877024835522-vu0r8h77v1uajo5qqgor7vhn0ut7dndu</string>
	<key>API_KEY</key>
	<string>AIzaSyBILw4dpo-AXgobBpSXl1QavkECR3gwRrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>877024835522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskWithLogin</string>
	<key>PROJECT_ID</key>
	<string>loginsignuptask-dfe57</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignuptask-dfe57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877024835522:ios:a0169c4bfc748fd8d5085b</string>
</dict>
</plist>